:root {
  --content: 880px;
  --gutter-mobile: 16px;
  --gutter-tablet: 24px;
}
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/
.page {
  min-height: 100dvh;

  background: #000;
  color: #fff;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Noto Sans", sans-serif;
  /* margin: auto;
  font-size: 16px;
  line-height: 20px;*/
}

/*.content,
.header,
.profile,
.elements,
.footer {
  width: 100%;
  margin: 0;
  padding-inline: 0;
  margin-inline: auto;
  padding: 0;
}*/

.header,
.content,
.footer {
  margin-inline: auto;
  width: min(var(--content), calc(100% - 2 * var(--gutter-mobile)));
}

@media (min-width: 768px) {
  .header,
  .content,
  .footer {
    width: min(var(--content), calc(100% - 2 * var(--gutter-tablet)));
  }
}

@media (min-width: 1280px) {
  .header,
  .content,
  .footer {
    width: var(--content);
  }
}

.content > * {
  width: 100%;
  margin: 0;
  padding: 0;
}
