.page {
  min-height: 100dvh;
  background: #000;
  color: #fff;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header,
.content,
.footer {
  max-width: 880px;
  margin-inline: auto;
  padding-inline: 16px;
}

@media (min-width: 768px) {
  .header,
  .content,
  .footer {
    padding-inline: 24px;
  } /* tablet */
}

@media (min-width: 1280px) {
  .header,
  .content,
  .footer {
    padding-inline: 0;
  }
}

.content > *,
.header > *,
.footer > * {
  width: 100%;
}
